.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: absolute;
    background: rgb(15,121,9);
    background: linear-gradient(90deg, rgba(15,121,9,1) 42%, rgba(255,255,255,1) 100%);
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    position: fixed;
    text-align: center;
    border: 1px solid;
}

.sidebar-header{
    margin-top: 25px;
    margin-bottom: 10px;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

header{
    font-size: 2.5rem;
}

main{
    margin-left: 300px;
    margin-top: 25px;
}

li{
    list-style: none;
    font-style: italic;
}

code{
    font-size: 1.5rem;

}